---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import ChargeSection from '../components/ChargeSection.astro'
import ModelSection from '../components/ModelSection.astro';
---

<Layout title="Electric Cars, Solar & Clean Energy | Tesla">
	<LandingHeader />
	
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
		<div class="snap-center">
			<HeroSection />
		</div>

		<div class="snap-center">
			<ChargeSection />
		</div>

		<div class="snap-center">
			<ModelSection title="Model X" subtitle="From $68,590*" color="black" paragraph="After Federal Tax Credit & Est. Gas Savings">
				<a slot="ref1" class="rounded font-medium px-20 py-2 inline-block text-black bg-white opacity-70" href="#">Order Now</a>
            	<a slot="ref2" class="rounded font-medium px-20 py-2 inline-block text-white bg-black opacity-70" href="#">Demo Drive</a>
				<p slot="ref3" class="text-[14px] text-white">*Price before incentives and savings is $79,990, excluding taxes and fees. Subject to change.</p>
				<img slot="background" src="/Homepage-Model-X-Desktop-LHD.webp" alt="Model X" class="h-full w-full object-cover object-center" />
			</ModelSection>
		</div>

		<div class="snap-center">
			<ModelSection title="Model S" subtitle="From $71,090*" color="black" paragraph="After Est. Gas Savings">
				<a slot="ref1" class="rounded font-medium px-20 py-2 inline-block text-black bg-white opacity-70" href="#">Order Now</a>
            	<a slot="ref2" class="rounded font-medium px-20 py-2 inline-block text-white bg-black opacity-70" href="#">Demo Drive</a>
				<p slot="ref3" class="text-[14px] text-black">*Price before savings is $74,990, excluding taxes and fees. Subject to change.</p>
				<img slot="background" src="/Homepage-Model-S-Desktop-LHD-6.22.webp" alt="Model S" class="h-full w-full object-cover object-center" />
			</ModelSection>
		</div>

		<div class="snap-center">
			<ModelSection title="Experience Tesla" subtitle="Schedule a Demo Drive Today" color="white" >
				<a slot="ref1" class="border-2 rounded font-medium px-20 py-2 inline-block text-white" href="#">Demo Drive</a>
				<video slot="background" class="object-center object-cover h-full w-full" src="/public/Homepage-Demo-Drive-Desktop-NA-2.webm" autoplay muted loop></video>
			</ModelSection>
		</div>

		<div class="snap-center">
			<ModelSection title="Solar Panels" subtitle="Schedule a Virtual Consultation" color="black">
				<a slot="ref1" class="rounded font-medium px-20 py-2 inline-block text-black bg-white opacity-70" href="#">Order Now</a>
            	<a slot="ref2" class="rounded font-medium px-20 py-2 inline-block text-white bg-black opacity-70" href="#">Learn More</a>
				<img slot="background" src="/425_HP_SolarPanels_D.webp" alt="Solar Panels" class="h-full w-full object-cover object-center" />
			</ModelSection>
		</div>

		<div class="snap-center">
			<ModelSection title="Solar Roof" subtitle="Produce Clean Energy From Your Roof" color="black">
				<a slot="ref1" class="rounded font-medium px-20 py-2 inline-block text-black bg-white opacity-70" href="#">Order Now</a>
            	<a slot="ref2" class="rounded font-medium px-20 py-2 inline-block text-white bg-black opacity-70" href="#">Learn More</a>
				<img slot="background" src="/Homepage-SolarRoof-Desktop-Global.webp" alt="Solar Roof" class="h-full w-full object-cover object-center" />
			</ModelSection>
		</div>

		<div class="snap-center">
			<ModelSection title="Powerwall" color="black">
				<a slot="ref1" class="rounded font-medium px-20 py-2 inline-block text-black bg-white opacity-70" href="#">Order Now</a>
            	<a slot="ref2" class="rounded font-medium px-20 py-2 inline-block text-white bg-black opacity-70" href="#">Learn More</a>
				<img slot="background" src="/Homepage-Powerwall-Desktop.webp" alt="Powerwall" class="h-full w-full object-cover object-center" />
			</ModelSection>
		</div>

		<div class="snap-center">
			<ModelSection title="Accessories" color="black" >
				<a slot="ref1" class="rounded font-medium px-20 py-2 inline-block text-black bg-white opacity-80" href="#">Shop Now</a>
				<img slot="background" src="/Homepage-Accessories-Desktop-NA-APAC.webp" alt="Accessories" class="h-full w-full object-cover object-center" />
				<p slot="ref3" class="text-[14px] text-white opacity-70">Tesla © 2023
					Privacy & Legal
					Vehicle Recalls
					Contact
					News
					Get Updates
					Locations</p>
			</ModelSection>
		</div>
	</main>
</Layout>

<style>
	
</style>
